@font-face {
    font-family: 'Poppins';
    src: url(../assets/Poppins-Regular.ttf);
}
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Personal Informasi */
.personal-information {
    text-align: center;
    padding: 20px;
    background: url('../assets/img/bg-hero.jpg') no-repeat center center/cover;

}

.personal-information img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.employee-name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.employee-information {
    line-height: 20px;
}

.employee-identity {
    font-size: 20px;
    color: black;
}

/* Sosial Media */
.sosial-media {
    margin-top: 20px;
}

.sosial-media img {
    width: 40px;
    height: auto;
}

.sosial-media a {
    text-decoration: none;
}

.sosial-media a:hover {
    cursor: pointer;
}

.divider {
    border: 2px solid #ddd;
}

/* Statistik */
.stats-section {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    line-height: 25px;
}

.stats-cards {
    /* background: linear-gradient(180deg, #FFD700 0%, #a283ff 70%); */
    background: url(../assets/img/bg-karir.jpg);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 5px;
    justify-content: center;
}

.stats-cards h1 {
    font-size: 15px;
}

.stats-cards h2 {
    font-size: 50px;
    font-weight: bold;
}

.stats-cards h2 span {
    font-size: 23px;
    vertical-align: super;

}

.stats-cards p {
    font-size: 15px;
    color: black;
}

.tahun {
    text-align: center;
}

.text {
    color: rgba(0 0 0 / 67%);
    margin-left: 15px;
    line-height: 10px;
    margin-top: 30px;
}

.text h2 {
    font-size: 20px;
}

/* Jenjang Karir */
.jenjang-karir {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.jenjang-karir-cards {
    background: url(../assets/img/bg-karir.jpg);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    flex: 1;
    margin: 5px;
}

.jenjang-karir-cards h2 {
    font-size: 16px;
    font-weight: bold;
}

.jenjang-karir-cards p {
    font-size: 14px;
    color: black;
}

/* Sertifikat Slider */
.certificate-section {
    text-align: center;
    margin: 20px 10px;
}

.slider-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: auto;
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgb(255, 153, 0);
}

.certificate-heading {
    font-size: 20px;
    font-weight: bold;
}

/* WhatsApp Floating Button */
.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 60px;
    right: 40px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float img {
    width: 60px;
    height: auto;
}

/* Tablet View */
@media only screen and (max-width: 1024px){
    .jenjang-karir-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Smartphone view */
@media only screen and (max-width: 767px){
    .personal-information {
        height: 330px;
    }

   .jenjang-karir{
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 50% 50%;
   }
   h2{
    margin: 0;
   }
   .stats-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px ;
    justify-content: space-between;
   }

   .stats-cards h2 {
    line-height: 40px;
   }

   .stats-cards h2 span {
    font-size: 15px;
   }

   .text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 120px;
   }
   .text-wrapper h2{
    line-height: 40px;
    font-size: 36px;
   }
   .stats-cards p{
    font-size: 12px;
   }
   .jenjang-karir-cards{
    display: flex;
    flex-direction: column;
   }
 
   .text h2{
    line-height: 30px;
   }
   .whatsapp-float img {
    width: 50px;
    height: auto;
}
}   